<!--404 page page not found-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1>404</h1>
            <h2>Page not found</h2>
            <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
            <a href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</html>
